@import "settings";
@import "library";
@import "aliases";

@import "mixins/centered";
@import "mixins/type-set";

@import "placeholders/styled-list";
@import "placeholders/horizontal-list";
@import "placeholders/typography";

@import "foundations/reset";
@import "foundations/normalise";
@import "foundations/typography";
@import "foundations/type-system";

@import "objects/nav-list";
@import "objects/archived-posts-list";
@import "objects/post";
@import "objects/img";

@include type-set();

body {
  min-width: 320px;
  background-color: hsl(0, 0%, 90%);
}

/* Hide nav headings */
nav {
  > h1 {
    display: none;
  }
}

pre {
  background: ghostWhite;
  border: 1px solid hsl(0, 0%, 90%);
}

.l-container {
  @include centered();
}

.l-header {
  &,
  a {
    color: white;
  }
}

.l-header-logo {
  text-align: center;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.l-footer {
  &,
  a {
    color: hsl(0, 0%, 50%);
  }
}
