@import "settings";
@import "library";
@import "aliases";

@import "mixins/centered";
@import "mixins/type-set";

@import "placeholders/styled-list";
@import "placeholders/horizontal-list";
@import "placeholders/typography";

@import "foundations/reset";
@import "foundations/normalise";
@import "foundations/type-system";
@import "foundations/typography";

@import "objects/nav-list";
@import "objects/archived-posts-list";
@import "objects/post";
@import "objects/img";

@include type-set();

.hidden {
  display: none;
}

body {
  min-width: 320px;
  background-color: hsl(0, 0%, 10%);
}

/* Hide nav headings */
nav {
  > h1 {
    display: none;
  }
}

pre {
  background: ghostWhite;
  border: 1px solid hsl(0, 0%, 90%);
}

blockquote {
  /*
  At b1 and above, the blockquote has its own content width, so we centre it
  */
  @include centered();
  font-style: italic;
  color: hsl(0, 0%, 40%);
}

.l-container {
  @include centered();
}

.l-header {
  &,
  a {
    color: white;
  }

  h1 {
    text-align: center;
    font-weight: 400;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.l-footer {
  &,
  a {
    color: hsl(0, 0%, 50%);
  }
}
