@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/placeholders\/_styled-list\.scss}line{font-family:\000031}}
.nav-list, .archived-posts-list {
  list-style: none;
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/placeholders\/_horizontal-list\.scss}line{font-family:\000031}}
.nav-list {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.nav-list:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/placeholders\/_horizontal-list\.scss}line{font-family:\000035}}
.nav-list li {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/placeholders\/_typography\.scss}line{font-family:\000031}}
body {
  font-family: ff-meta-serif-web-pro, "Lucida Bright", Constantia, Georgia, serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/placeholders\/_typography\.scss}line{font-family:\000035}}
h1, .h1,
h2,
.h2, .post .post-time,
.post .post-excerpt-permalink {
  font-family: abril-display, Palatino, Georgia, serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/placeholders\/_typography\.scss}line{font-family:\000039}}
h3, .h3,
h4,
.h4 {
  font-family: proxima-nova-sc-osf, "Proxima Nova SC OSF", "Proxima Nova", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_reset\.scss}line{font-family:\0000315}}
h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
blockquote,
p,
pre,
dl,
menu,
ol,
ul,
hr {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_reset\.scss}line{font-family:\0000319}}
hr {
  border: 0;
}

/* Author note: modified by Oliver Joseph Ash */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000323}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000333}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000344}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000354}}
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000370}}
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000384}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\0000392}}
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003105}}
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003115}}
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003128}}
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003137}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003141}}
blockquote {
  margin-left: 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003149}}
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003157}}
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003170}}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003180}}
pre {
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003193}}
q {
  quotes: none;
}

/* 2 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003200}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003205}}
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003215}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003222}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003226}}
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003239}}
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003249}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003258}}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003274}}
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003283}}
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003296}}
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003309}}
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003317}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003329}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003345}}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003357}}
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003371}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003382}}
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003394}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003406}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003418}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003428}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003438}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_normalise\.scss}line{font-family:\00003452}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Would be nice to use @content, but Sass' content block lives in the caller
scope
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\000031}}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 500;
  color: black;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\000039}}
a {
  text-decoration: none;
  color: steelBlue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\0000313}}
a:hover {
  text-decoration: underline;
}

/*
Double stranded heading hierachy as per
http://csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/
*/
/* Default font weight for headings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\0000329}}
h1, .h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\0000341}}
h3, .h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  /* Normalises the font-size of the logo */
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\0000347}}
h3, .h3,
h4,
.h4 {
  letter-spacing: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\0000352}}
h3, .h3 {
  text-transform: uppercase;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_typography\.scss}line{font-family:\0000357}}
h4, .h4 {
  text-transform: lowercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_nav-list\.scss}line{font-family:\000031}}
.nav-list {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_nav-list\.scss}line{font-family:\000035}}
.nav-list li {
  margin-left: 1em;
  font-weight: 600;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_nav-list\.scss}line{font-family:\000038}}
.nav-list li:first-child {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\000031}}
.post {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
  /*  Increase score to beat `.post-content p` */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\000036}}
.post.last {
  border-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000312}}
.post .post-time,
.post .post-excerpt-permalink {
  text-align: center;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000319}}
.post-image {
  display: block;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000324}}
.post-title {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000328}}
.post-content {
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000331}}
.post-content img {
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000335}}
.post-content p {
  text-align: justify;
}
@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000335}}
  .post-content p {
    text-align: left;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_post\.scss}line{font-family:\0000343}}
.post-content img {
  display: block;
}

@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_img\.scss}line{font-family:\000031}}
  .img-right {
    float: right;
  }
}

@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_img\.scss}line{font-family:\000037}}
  .img-left {
    float: left;
  }
}

@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/objects\/_img\.scss}line{font-family:\0000313}}
  .img-2-5 {
    width: 40%;
  }
}

/* Variables hoisted to the top */
/* Support mobile by default, with no media query */
/*
If a constraint has been applied, we calculate the content width (the
breakpoint provided with whatever padding/margin substracted away) and
then calculate font size based on the given content width and font
size.
*/
/*
Because we already have a breakpoint, we must reverse engineer this
number to calculate the content width. Essentially this is just
substracting the padding and margin of the content from the breakpoint
to find the content width.
*/
/*
On mobile (devices with constraints), the margin of the content is
less.
*/
/* Round the line-height */
/*
Finally, created a media query and generate the styles of the type system.
*/
/* Golden ratio, used for the modular scale */
/* Change the modular scale for smaller devices */
/* Perfect fifth */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000314}}
body {
  font-size: 16px;
  line-height: 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000325}}
h3, .h3,
h4,
.h4,
p,
blockquote,
ul,
ol,
pre {
  margin-top: 23px;
  margin-bottom: 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000332}}
.b0-break {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000336}}
.b0-unbreak {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000340}}
.l-container {
  max-width: 304px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000344}}
.island {
  padding-right: 16px;
  padding-left: 16px;
}

/*
Okay. I go a bit crazy and also calculate the optimal line height for
headings, because they have different font sizes but share the same
content width. Thus, the optimal line height will be different.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000356}}
.post-title {
  font-size: 28px;
  line-height: 38px;
  margin-top: 38px;
  margin-bottom: 38px;
  width: 240px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000360}}
.post-content {
  width: 240px;
  margin-top: 69px;
  margin-bottom: 69px;
      /*
Modular scale typography as per
https:/*github.com/scottkellum/modular-scale/
*/
  /*
  The `img` objects only need to have margin surrounding them at larger
  breakpoints.
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000372}}
.post-content > h2, .post-content > .h2 {
  font-size: 21px;
  line-height: 29px;
  margin-top: 29px;
  margin-bottom: 29px;
  width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000376}}
.post-content pre {
  /* We don’t need margins, so use the inside method */
  font-size: 13px;
  line-height: 19px;
  width: 208px;
  padding: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000382}}
.post-content img {
  margin-bottom: 23px;
}

/* Variables hoisted to the top */
/* Support mobile by default, with no media query */
/*
If a constraint has been applied, we calculate the content width (the
breakpoint provided with whatever padding/margin substracted away) and
then calculate font size based on the given content width and font
size.
*/
/*
Because we already have a breakpoint, we must reverse engineer this
number to calculate the content width. Essentially this is just
substracting the padding and margin of the content from the breakpoint
to find the content width.
*/
/*
On mobile (devices with constraints), the margin of the content is
less.
*/
/* Round the line-height */
/*
Finally, created a media query and generate the styles of the type system.
*/
@media (min-width: 480px) {
  /* Golden ratio, used for the modular scale */
  /* Change the modular scale for smaller devices */
  /* Perfect fifth */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000314}}
  body {
    font-size: 16px;
    line-height: 24px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000325}}
  h3, .h3,
  h4,
  .h4,
  p,
  blockquote,
  ul,
  ol,
  pre {
    margin-top: 24px;
    margin-bottom: 24px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000332}}
  .b1-break {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000336}}
  .b1-unbreak {
    display: inline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000340}}
  .l-container {
    max-width: 456px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000344}}
  .island {
    padding-right: 16px;
    padding-left: 16px;
  }

  /*
  Okay. I go a bit crazy and also calculate the optimal line height for
  headings, because they have different font sizes but share the same
  content width. Thus, the optimal line height will be different.
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000356}}
  .post-title {
    font-size: 28px;
    line-height: 38px;
    margin-top: 38px;
    margin-bottom: 38px;
    width: 376px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000360}}
  .post-content {
    width: 376px;
    margin-top: 72px;
    margin-bottom: 72px;
      /*
Modular scale typography as per
https:/*github.com/scottkellum/modular-scale/
*/
    /*
    The `img` objects only need to have margin surrounding them at larger
    breakpoints.
     */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000372}}
  .post-content > h2, .post-content > .h2 {
    font-size: 21px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 376px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000376}}
  .post-content pre {
    /* We don’t need margins, so use the inside method */
    font-size: 13px;
    line-height: 20px;
    width: 344px;
    padding: 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000382}}
  .post-content img {
    margin-bottom: 24px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000391}}
  .post-content .img-left {
    margin-right: 24px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000395}}
  .post-content .img-right {
    margin-left: 24px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000399}}
  .post-content blockquote {
    /* We don’t need margins, so use the inside method */
    font-size: 16px;
    line-height: 23px;
    width: 312px;
  }
}
/* Variables hoisted to the top */
/* Support mobile by default, with no media query */
/*
If a constraint hasn't been applied, we are free to generate a content
width and line height based on the optimal settings.
*/
/*
The illusion of padding either side of the content is achieved by
adding to the width of the content.
*/
/* The margin of the content is 10% of the breakpoint width */
/* Round the line-height */
/*
Finally, created a media query and generate the styles of the type system.
*/
@media (min-width: 860.4px) {
  /* Golden ratio, used for the modular scale */
  /* Change the modular scale for smaller devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000314}}
  body {
    font-size: 16px;
    line-height: 26px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000325}}
  h3, .h3,
  h4,
  .h4,
  p,
  blockquote,
  ul,
  ol,
  pre {
    margin-top: 26px;
    margin-bottom: 26px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000332}}
  .b2-break {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000336}}
  .b2-unbreak {
    display: inline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000340}}
  .l-container {
    max-width: 817.38px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000344}}
  .island {
    padding-right: 16px;
    padding-left: 16px;
  }

  /*
  Okay. I go a bit crazy and also calculate the optimal line height for
  headings, because they have different font sizes but share the same
  content width. Thus, the optimal line height will be different.
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000356}}
  .post-title {
    font-size: 42px;
    line-height: 57px;
    margin-top: 57px;
    margin-bottom: 57px;
    width: 685px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000360}}
  .post-content {
    width: 685px;
    margin-top: 78px;
    margin-bottom: 78px;
      /*
Modular scale typography as per
https:/*github.com/scottkellum/modular-scale/
*/
    /*
    The `img` objects only need to have margin surrounding them at larger
    breakpoints.
     */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000372}}
  .post-content > h2, .post-content > .h2 {
    font-size: 26px;
    line-height: 37px;
    margin-top: 37px;
    margin-bottom: 37px;
    width: 685px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000376}}
  .post-content pre {
    /* We don’t need margins, so use the inside method */
    font-size: 13px;
    line-height: 23px;
    width: 653px;
    padding: 16px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000382}}
  .post-content img {
    margin-bottom: 26px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000391}}
  .post-content .img-left {
    margin-right: 26px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000395}}
  .post-content .img-right {
    margin-left: 26px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000399}}
  .post-content blockquote {
    /* We don’t need margins, so use the inside method */
    font-size: 16px;
    line-height: 26px;
    width: 621px;
  }
}
/* Variables hoisted to the top */
/* Support mobile by default, with no media query */
/*
If a constraint hasn't been applied, we are free to generate a content
width and line height based on the optimal settings.
*/
/*
The illusion of padding either side of the content is achieved by
adding to the width of the content.
*/
/* The margin of the content is 10% of the breakpoint width */
/* Round the line-height */
/*
Finally, created a media query and generate the styles of the type system.
*/
@media (min-width: 1038px) {
  /* Golden ratio, used for the modular scale */
  /* Change the modular scale for smaller devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000314}}
  body {
    font-size: 18px;
    line-height: 29px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000325}}
  h3, .h3,
  h4,
  .h4,
  p,
  blockquote,
  ul,
  ol,
  pre {
    margin-top: 29px;
    margin-bottom: 29px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000332}}
  .b3-break {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000336}}
  .b3-unbreak {
    display: inline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000340}}
  .l-container {
    max-width: 986.1px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000344}}
  .island {
    padding-right: 18px;
    padding-left: 18px;
  }

  /*
  Okay. I go a bit crazy and also calculate the optimal line height for
  headings, because they have different font sizes but share the same
  content width. Thus, the optimal line height will be different.
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000356}}
  .post-title {
    font-size: 47px;
    line-height: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
    width: 829px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000360}}
  .post-content {
    width: 829px;
    margin-top: 87px;
    margin-bottom: 87px;
      /*
Modular scale typography as per
https:/*github.com/scottkellum/modular-scale/
*/
    /*
    The `img` objects only need to have margin surrounding them at larger
    breakpoints.
     */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000372}}
  .post-content > h2, .post-content > .h2 {
    font-size: 29px;
    line-height: 41px;
    margin-top: 41px;
    margin-bottom: 41px;
    width: 829px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000376}}
  .post-content pre {
    /* We don’t need margins, so use the inside method */
    font-size: 14px;
    line-height: 25px;
    width: 793px;
    padding: 18px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000382}}
  .post-content img {
    margin-bottom: 29px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000391}}
  .post-content .img-left {
    margin-right: 29px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000395}}
  .post-content .img-right {
    margin-left: 29px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000399}}
  .post-content blockquote {
    /* We don’t need margins, so use the inside method */
    font-size: 18px;
    line-height: 29px;
    width: 757px;
  }
}
/* Variables hoisted to the top */
/* Support mobile by default, with no media query */
/*
If a constraint hasn't been applied, we are free to generate a content
width and line height based on the optimal settings.
*/
/*
The illusion of padding either side of the content is achieved by
adding to the width of the content.
*/
/* The margin of the content is 10% of the breakpoint width */
/* Round the line-height */
/*
Finally, created a media query and generate the styles of the type system.
*/
@media (min-width: 1231.2px) {
  /* Golden ratio, used for the modular scale */
  /* Change the modular scale for smaller devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000314}}
  body {
    font-size: 20px;
    line-height: 32px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000325}}
  h3, .h3,
  h4,
  .h4,
  p,
  blockquote,
  ul,
  ol,
  pre {
    margin-top: 32px;
    margin-bottom: 32px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000332}}
  .b4-break {
    display: block;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000336}}
  .b4-unbreak {
    display: inline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000340}}
  .l-container {
    max-width: 1169.64px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000344}}
  .island {
    padding-right: 20px;
    padding-left: 20px;
  }

  /*
  Okay. I go a bit crazy and also calculate the optimal line height for
  headings, because they have different font sizes but share the same
  content width. Thus, the optimal line height will be different.
  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000356}}
  .post-title {
    font-size: 52px;
    line-height: 70px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 986px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000360}}
  .post-content {
    width: 986px;
    margin-top: 96px;
    margin-bottom: 96px;
      /*
Modular scale typography as per
https:/*github.com/scottkellum/modular-scale/
*/
    /*
    The `img` objects only need to have margin surrounding them at larger
    breakpoints.
     */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000372}}
  .post-content > h2, .post-content > .h2 {
    font-size: 32px;
    line-height: 46px;
    margin-top: 46px;
    margin-bottom: 46px;
    width: 986px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000376}}
  .post-content pre {
    /* We don’t need margins, so use the inside method */
    font-size: 16px;
    line-height: 28px;
    width: 946px;
    padding: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000382}}
  .post-content img {
    margin-bottom: 32px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000391}}
  .post-content .img-left {
    margin-right: 32px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000395}}
  .post-content .img-right {
    margin-left: 32px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/foundations\/_type-system\.scss}line{font-family:\0000399}}
  .post-content blockquote {
    /* We don’t need margins, so use the inside method */
    font-size: 20px;
    line-height: 32px;
    width: 906px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000324}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000328}}
body {
  min-width: 320px;
  background-color: #1a1a1a;
}

/* Hide nav headings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000335}}
nav > h1, nav > .h1 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000340}}
pre {
  background: ghostWhite;
  border: 1px solid #e6e6e6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000345}}
blockquote {
  /*
  At b1 and above, the blockquote has its own content width, so we centre it
  */
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000354}}
.l-container {
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000360}}
.l-header,
.l-header a {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000364}}
.l-header h1, .l-header .h1 {
  text-align: center;
  font-weight: 400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000370}}
.l-header a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Oliver\/Development\/Personal\/oliverash\.me\/sass\/base\.scss}line{font-family:\0000378}}
.l-footer,
.l-footer a {
  color: gray;
}
