.img-right {
  @include breakpoint($breakpoint-2) {
    float: right;
  }
}

.img-center {
  @include centered();
}

.img-left {
  @include breakpoint($breakpoint-2) {
    float: left;
  }
}

.img-2-5 {
  @include breakpoint($breakpoint-2) {
    width: 40%;
  }
}
