{% if post %}
  {% assign content = post.content %}
{% endif %}
{% if page %}
  {% assign post = page %}
{% endif %}

{% capture postUrl %}
  {% if post.rewriteUrl %}{{ post.rewriteUrl }}{% else %}{{ post.url }}{% endif %}
{% endcapture %}

{% unless page.title %}
  {% assign home = true %}
{% endunless %}

<article class="post{% if forloop.last %} last{% endif %}">

  {% if post.layout == 'photo' %}
    <a href="{{ postUrl }}">
  {{ post.image }}
    </a>
  {% endif %}

  <div class="post-content island">

    <header>
      {% if post.layout == 'post' or page.title == post.title %}
        <h1 class="post-title">{{ post.title }}</h1>
      {% endif %}

      <p class="post-time">
        <a href="{{ postUrl }}">
          <time>{{ post.date | date: "%B %e, %Y" }}</time>
        </a>
      </p>
    </header>

    {% if page.title == post.title or home %}
      {{ content }}
    {% else %}
      {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
        <p class="post-excerpt-permalink"><a href="{{ post.url }}">Continue reading</a></p>
      {% endif %}
    {% endif %}

  </div>

</article>
