{% comment %} This partial is used to display articles wherever they may be – in the form of a permalink or as part of a loop {% endcomment %}

{% comment %} Alias `post.content` to `content` if this is a post {% endcomment %}
{% if post %}
  {% assign content = post.content %}
{% endif %}

{% comment %} Alias `page` to `post` if this is a page {% endcomment %}
{% if page %}
  {% assign post = page %}
{% endif %}

{% comment %} If a URL has been specified, we override post.url by creating another variable {% endcomment %}
{% capture postUrl %}{% if post.rewriteUrl %}{{ post.rewriteUrl }}{% else %}{{ post.url }}{% endif %}{% endcapture %}

{% comment %} We create a `canonical` variable to test whether the whole content for a post should be shown, or just an excerpt. {% endcomment %}
{% if page.title == 'Home' %}
  {% assign home = true %}
{% endif %}
{% if page.title == post.title %}
  {% assign perm = true %}
{% endif %}

<!-- TO DO: Rename `last` to `post-last` (modifier)? -->
<article class="post{% if forloop.last %} last{% endif %}">

  {% comment %} Header for post types of `photo` {% endcomment %}
  {% if post.img %}
    <a href="{{ postUrl }}">
      <img class="post-image" src="{{ post.img }}" alt="{{ post.imgAlt }}">
    </a>
  {% endif %}

  <div class="post-content island">

    <header>
      {% comment %} Photo posts will not have a h1, so we need to check that this is a post. {% endcomment %}
      {% comment %} On perm pages, `post.layout` will == `default` because it is inherited from `page` {% endcomment %}
      {% if perm or post.layout == 'post' %}
        <h1 class="post-title">{{ post.title }}</h1>
      {% endif %}

      <p class="post-time">
        <a href="{{ postUrl }}">
          <time>{{ post.date | date: "%B %e, %Y" }}</time>
        </a>
      </p>
    </header>

    {% if home or perm %}
      {{ content }}
    {% else %}
      {% comment %} Liquid has no notion of `elseif` {% endcomment %}
      {% if post.excerpt %}
        {{ post.excerpt | markdownify }}
        <p class="post-excerpt-permalink"><a href="{{ post.url }}">Continue reading</a></p>
      {% endif %}
    {% endif %}

  </div>

</article>
